n8n/growth_agent_n8n_metrics_catchup.json
{
  "name": "Growth Agent - Metrics Catch-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$vars.GROWTH_AGENT_BASE_URL + '/automation/status'}}",
        "options": {}
      },
      "id": "get-status",
      "name": "GET automation status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({ json: { ...item.json, gate_allowed: item.json.kill_switch_active === false } }));"
      },
      "id": "gate-code",
      "name": "Gate kill switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gate-allowed",
              "leftValue": "={{$json.gate_allowed}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-gate",
      "name": "Gate OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$vars.GROWTH_AGENT_BASE_URL + '/posts/reconcile-x-ids'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lookback_days: 7, mappings: [] } }}",
        "options": {}
      },
      "id": "reconcile",
      "name": "POST reconcile X IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$vars.GROWTH_AGENT_BASE_URL + '/metrics/collect'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { post_ids: null } }}",
        "options": {}
      },
      "id": "collect",
      "name": "POST metrics collect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -80]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{$vars.GROWTH_AGENT_BASE_URL + '/metrics/summary'}}",
        "options": {}
      },
      "id": "summary-request",
      "name": "GET metrics summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, -80]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { const reconcile = $items('POST reconcile X IDs')[0]?.json || {}; const collect = $items('POST metrics collect')[0]?.json || {}; return { json: { workflow: 'metrics_catchup', reconciled_count: reconcile.reconciled || reconcile.matched || 0, reconcile_skipped_count: reconcile.skipped || 0, metrics_collected_count: collect.collected || 0, metrics_skipped_count: collect.skipped || 0, metrics_errors_count: collect.errors || 0, metrics_summary: item.json } }; });"
      },
      "id": "format-summary",
      "name": "Format summary JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, -80]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [[{ "node": "GET automation status", "type": "main", "index": 0 }]]
    },
    "GET automation status": {
      "main": [[{ "node": "Gate kill switch", "type": "main", "index": 0 }]]
    },
    "Gate kill switch": {
      "main": [[{ "node": "Gate OK?", "type": "main", "index": 0 }]]
    },
    "Gate OK?": {
      "main": [[{ "node": "POST reconcile X IDs", "type": "main", "index": 0 }], []]
    },
    "POST reconcile X IDs": {
      "main": [[{ "node": "POST metrics collect", "type": "main", "index": 0 }]]
    },
    "POST metrics collect": {
      "main": [[{ "node": "GET metrics summary", "type": "main", "index": 0 }]]
    },
    "GET metrics summary": {
      "main": [[{ "node": "Format summary JSON", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
